<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Generator</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        div.form
        {
            display: block;
            text-align: center;
        }
        textarea {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
        ul {
        width: 25%;
        margin: auto; 
        }
        input {
        display:inline-block !important;
        width: 100px !important;
        }
    </style>
</head>
<body style="background-color: lightgrey;">
    <h1 style="text-align: center;">Curating Playlists Based off of Your Taste!</h1>
    <hr>
    <h2 style="text-align: center;">Usage Instructions & Updates</h2>
    <div class="editable" contenteditable="true">
        <ul>
            <li>Favorite Artists: Currently taking up to 10 of your favorite artists.</li>
            <li>Genres/Moods: Hip-Hop, Rap, Throwback, Jazz, Romantic, Sad</li>
            <li>Languages: English, Spanish, Hindi</li>
            <li>Playlist Size: Size limit at the moment is 60.</li>
        </ul>
    </div>
    <!--
    <textarea name="" id="" cols="70" rows="10">
        Favorite Artists: Taking up to 10 of your favorite artists
    </textarea> -->
    <br>
    <hr>
    <br>
    <h1 style="text-align: center;">Generate your song recommendations!</h1>
    <br>
    <div class="form">
    <form name = "playlistForm" action="." method="POST">
        <label>Favorite Artists:</label>
        <input type="text" name="artists">
        <label>Genre:</label>
        <input type="text" name="genre">
        <label>Language:</label>
        <input type="text" name="language">
        <label>Playlist Size:</label>
        <input type="text" name="playlistsize">
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>